# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv("messages.csv")
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv("categories.csv")
categories.head()

     id                                         categories
0   2.0  related-1;request-0;offer-0;aid_related-0;medi...
1   7.0  related-1;request-0;offer-0;aid_related-1;medi...
2   8.0  related-1;request-0;offer-0;aid_related-0;medi...
3   9.0  related-1;request-1;offer-0;aid_related-1;medi...
4  12.0  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = pd.merge(messages, categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [7]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [8]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: x[-1])
    
    # convert column from string to numeric
    categories[column] = categories[column].apply(lambda x: int(x))
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [9]:
# drop the original categories column from `df`
df = df.drop(['categories'], axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [10]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In order to count the duplicates we will use the following code:

In [11]:
# the following url was useful in order to identify duplicate entries 
# https://datatofish.com/count-duplicates-pandas/
# check number of duplicates 

dups_message = df.pivot_table(index=['message'], aggfunc='size')
dups_indexs = (dups_message > 1)
dups_message[dups_indexs]

message
   MAOZA          U  REP '                                                                                                                                                                                                                                                                                                                                                                                                           4
#NAME?                                                                                                                                                                                                                                                                                                                                                                                                                               4
(Delmas 33 Charboniere infomatyon s'il vous plait.)                                                                                                                                                                                                                                                                                                                                                                                  4
* German Agro Action (GAA) reported that in the 6 weeks up to 15 July it had completed the distribution of ECHO food to almost 14,000 beneficiaries in the Tavildara district, as well as financing a total of 49 Food for Work micro-projects through WFP - the majority concerned with irrigation, canal cleaning and feeder road construction in the Garm district.                                                               4
?? port au prince ?? and food. they need goverment aid and international aid thak you. god bless haiti                                                                                                                                                                                                                                                                                                                               4
Additionally, ointment to treat skin infections, cough medicine, iodine and bandages are needed for basic care.                                                                                                                                                                                                                                                                                                                      4
After the 2011 elections, widespread rioting left hundreds dead.                                                                                                                                                                                                                                                                                                                                                                     4
All #NYC bridges, tunnels &amp; mta closed; over 2.8 million without power #Sandy causing So much havoc!!! Praying 4 us all                                                                                                                                                                                                                                                                                                          4
An EU-backed French offensive against rebels restored an uneasy order, but foreign donors have insisted on the elections before aid is resumed to Mali.                                                                                                                                                                                                                                                                              4
Any person who enters or exits at other points will be considered an infiltrator, he added.                                                                                                                                                                                                                                                                                                                                          4
Area Jam gulab pahore Area ghulam haidar pahore's almost 50 houses have been damaged due to the recent flood. Din't receive housing compensation. C.M. of punjab has given only one bedsheet per family and nothing else has been given. Due to cool weather children have been suffering from diseases.                                                                                                                             4
As the harsh winter sets in, more people are in danger of dying in the freezing conditions.                                                                                                                                                                                                                                                                                                                                          4
As we approach Luabo, I get my first impressions of the camp, dilapidated buildings, most without roofs, or windows and walls collapsing.                                                                                                                                                                                                                                                                                            4
At present, UNHCR has 2,500 additional tents at the Port of Colombo which have been granted duty free clearance by the Ministry of Foreign Affairs and are awaiting clearance for distribution.                                                                                                                                                                                                                                      4
BEIJING, Aug 16 (AFP) - Some 200 people are dead or missing following three days of flash flooding that hit central China's Hunan province, officials said Monday.                                                                                                                                                                                                                                                                   4
BEIJING, Sep 24, 2008 (Xinhua via COMTEX News Network) -- Typhoon Hagupit has downgraded to severe tropical storm at 2 p.m. Wednesday in coastal areas of South China's Guangxi Zhuang Autonomous Region, according to the National Meteorological Center.                                                                                                                                                                           4
Before we take your general questions, I'd like to make a few opening remarks concerning ISAF support to the Afghan people during these frigid winter months. After the earthquake, huge boulders blocked off the road to large vehicles. Most years, floods wreak havoc in the state, leaving a trail of destruction and killing hundreds of people. We have heard of crocodile sightings.                                          4
But while floodwaters have subsided in some areas, there has been fresh flooding in the north of the state and more heavy rainfall forecast elsewhere.                                                                                                                                                                                                                                                                               4
Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf                                                                                                                                                                                                                                                                                                   4
Full Circle, my local, collecting supplies and making lunches for #SandyRelief @Full Circle Bar http://t.co/EHLqbhHw                                                                                                                                                                                                                                                                                                                 4
Good evening staff of responsibles, please give me some help because until now I am homeless (in the street).                                                                                                                                                                                                                                                                                                                        4
Good evening. we are writing to ask you for a little help in the Sibert area. We are calling for something to eat. We haven't eaten anything yet. We ask you please do us a favor.                                                                                                                                                                                                                                                   4
Good morning!How are you doing my brothers when the cyclone start and when it will be finish.                                                                                                                                                                                                                                                                                                                                        4
HELP THE EARTHQUAKE VICTIMS IN HAITI http tinyurl.com yk3bspe links to many resources where you can make donations. Broke? donate time                                                                                                                                                                                                                                                                                               4
How much money did TV Latino American collect in Miami                                                                                                                                                                                                                                                                                                                                                                               4
I am a victim. I need food, water and a radio.                                                                                                                                                                                                                                                                                                                                                                                       4
I am in Carefour Feuilles, Dkayet neighborhood. We need potable water because diarrhea is rampant here and is undermining our health.                                                                                                                                                                                                                                                                                                4
I can help deliver food to seniors who are trapped in their homes . I speak Mandarin and Cantonese .                                                                                                                                                                                                                                                                                                                                 4
I have men and woman clothing plus 3-4t girl clothing , Toys , Non perishable food                                                                                                                                                                                                                                                                                                                                                   4
I thought you gave my number and this was serious. Meanwhile today has been 15 days and we still haven't gotten anything                                                                                                                                                                                                                                                                                                             4
                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
Me and my family every time it rains you do not know what to do, because we have nothing to shelter, please find us something that we live in a military cites the legal street pole.                                                                                                                                                                                                                                                4
Mera ghar selab ki waja sy gir giya hy. aur dobara nahin bna sakta main shadeed mooshkil men hoon. mery 3 choty choty bachy aur baqi ghar waly shdeed sardi khaema mein guzarny par majboor hin. khdara ghar banany mein meri mdad kro. plz help me. khalil                                                                                                                                                                          4
Most victims (90 per cent) show little or no symptoms of infection and therefore go a long time untreated, even though the World Health Organisation lists fever, fatigue, headache, vomiting, stiffness in the neck, and pain in the limbs as initial symptoms.                                                                                                                                                                     4
NOTES: this sms is not important because this person is playing.                                                                                                                                                                                                                                                                                                                                                                     4
On behalf of ACT members in Bangladesh Christian Commission for Development in Bangladesh (CCDB) and Rangpur Dinajpur Rural Service (RDRS) - LWF/WS report that none of their projects has yet been affected but that the low-lying areas of the north-eastern districts have been inundated by an on-rush of floodwater from across the border following rains and overflowing rivers in the neighbouring Indian state of Assam.    4
Sent email , matched to Seniors are living in the Seward Park Co-Op top floors with no power or water .                                                                                                                                                                                                                                                                                                                              4
Shelter materials (thick polyesters) are being distributed to 18,000 households.                                                                                                                                                                                                                                                                                                                                                     9
Sir or madam, I'm hungry, I cannot stand because I'm very hungry, if you could share the food, it would benefit the population, thanks                                                                                                                                                                                                                                                                                               4
Some herders now have their homes connected to the town grid or, in the most isolated areas, herders have been provided with solar panels and small wind turbine systems as sources of renewable energy.                                                                                                                                                                                                                             4
Starting in October 1999, severe food insecurity began to be reported in Gode zone, Somali Region, as a result of delayed and erratic Deyr rains (expected from September-December).                                                                                                                                                                                                                                                 4
Tell the President to give the nation over to God.                                                                                                                                                                                                                                                                                                                                                                                   4
The Management Committee is composed of six members, including a chairman, a treasurer, a secretary general, a manager and two commissioners elected democratically by the community.                                                                                                                                                                                                                                                4
The flood situation has worsened with nearly 3,000 villages submerged forcing an estimated 150,000 people to take shelter in raised platforms and makeshift tarpaulin tents, Assam Revenue, Relief and Rehabilitation Minister Bhumidhar Barman said.                                                                                                                                                                                4
The last locust infestation in the Central Asian republic was in 1995 and is expected to reoccur every four to five years.                                                                                                                                                                                                                                                                                                           4
The regime says the charter will clear the way for democratic elections in two years, but critics say the document will ensure the generals remain dominant in a country that has been ruled by the military for nearly half a century.                                                                                                                                                                                              4
The slow pace of reconstruction along Japan's devastated north-eastern coastline is contributing to survivors' stress, as there is little clarity on how long they will have to remain in cramped temporary housing.                                                                                                                                                                                                                 4

In [12]:
dups_message[dups_indexs].sum()

277

There are 277 duplicate entries. We will eliminate duplicate entries with the following code:

In [13]:
# The following url was helpful in order to eliminate duplicate entries 
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
# drop duplicates 

df.drop_duplicates(subset="message", keep=False, inplace=True)

In [14]:
# check number of duplicates

dups_message = df.pivot_table(index=['message'], aggfunc='size')
dups_indexs = (dups_message > 1)
dups_message[dups_indexs].sum()

0

In [15]:
# the variable related has three categories according to the following forum post
# https://knowledge.udacity.com/questions/53182

df['related'].unique()

array([1, 0, 2])

In [16]:
df['related'].value_counts()

1    19819
0     6108
2      182
Name: related, dtype: int64

In [17]:
# we will replace the value 2 with the most frequent value.
df['related'] = df['related'].replace(2, 1)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [18]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('Message', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.